.container {
	display: grid;
	grid-template-columns: minmax(2rem, 1fr) minmax(auto, 40rem) minmax(2rem, 1fr);
}

.container > * {
	grid-column: 2;
}

.home {
	text-decoration: none;
	color: var(--color);
	font-size: 2rem;
	width: fit-content;
	margin-bottom: 1rem;
}
